/* =========================
   BASE
   ========================= */
html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-image: url('/public/img/fundo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    text-align: center;
    color: #1f2937;
}
label {
    font-weight: bold;
}
input {
    border: 1px solid #d1d5db;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #480e7e;
}

.escrita {
    display: inline-block; /* Ajusta o tamanho do contêiner ao texto */
    font-size: 2rem; /* Tamanho do texto */
    color: #d8d8d8; /* Cor do texto */
    border-right: 6px solid red; /* Marcador vermelho */
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Esconde o texto fora do contêiner */
    text-align: center; /* Centraliza o texto */
}
.container-escrita {
    margin-top: 90px;
 ;
    display: flex; /* Define o layout como flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    height: 90px;
}


